<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Finguerprint</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<h1>Hello world</h1>

<div>
    <h1>Low level API, Tester</h1>
    %for api in LOW_LEVEL_API:
        <p>${api} <input type="button" id="lowlevelapi_${api}" value="call ${api}"></p>

    <div>
        %for varname in getattr(fingerprint, api).im_func.func_code.co_varnames[1:]:
        <label><b>${varname}</b></label>: <input><br>
        %endfor

    </div>
    % if getattr(fingerprint, api).__doc__:
        <p>${getattr(fingerprint, api).__doc__}</p>
        <!-- ${getattr(fingerprint, api)} -->
    %endif
    %endfor

</div>

</body>
</html>
